%tag {
  border-radius: 2px;
  border: 1px solid transparent;
  display: inline-block;
  font-size: 1rem;
  font-weight: 900;
  padding: 4px;
  text-transform: uppercase;
}

.t0 {
  @extend %tag;
  border-color: #FC8181;
  color: #E53E3E;
}
.t1 {
  @extend %tag;
  border-color: #F6E05E;
  color: #D69E2E;
}
.t2 {
  @extend %tag;
  border-color: #68D391;
  color: #38A169;
}
.t3 {
  @extend %tag;
  border-color: #CBD5E0;
  color: #718096;
}


.button {
  align-items: center;
  background-color: #18a4e0;
  border-radius: 2px;
  border: 0;
  color: #fff;
  display: flex;
  font-weight: 900;
  padding: 8px 12px;
  //transition: border .2s ease-in-out, box-shadow .2s ease-in-out;

  svg {
    height: 16px;
    margin-right: 8px;
    width: 16px;
  }
}

.avatar {
  border: 2px solid #fff;
  border-radius: 9999px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
  float: left;
  filter: grayscale(1);
  height: 32px;
  margin: 0 8px 0 0;
  width: 32px;
}