.container{
    padding-top: 130px;
    max-width: 1366px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.left{
    width: 700px;
    height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;

    .rowOne{
        display: flex;
        justify-content:space-between;
    }

    .block{
        width:200px;
        height: 100px;
        background-color: $navbar-color;
        border-radius: 5px;
    }

    .orders, .upcomingOrders{
        cursor: pointer;

        &:hover{
            background-color: $navbar-hover;
        }
    }

    .banner{
        width:100%;
        height: 150px;
        background-color:white;
        border-radius: 5px;
    }

    .slider{
        width:100%;
        height: 250px;
        background-color:lightgrey;
    }
}

.right{
    width: 400px;
    height: calc(100vh - 160px);
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;

    .chart{
        width:100%;
        height: 200px;
        background-color:white;
    }

    .favorites{
        width:100%;
        height: 350px;
        background-color:white;
    }
}