.navbar{
    position:fixed;
    width:100%;
    height:100px;
    background-color:$navbar-color;
}

.content{
    max-width: 1366px;
    margin:0 auto;
    display:flex;
    height: 100%;
    padding: 0 15px;
}

.links{
    display:flex;
    height: 100%;
}

.link{
    width: 200px;
    height: 100%;
    color: white;

    a{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;

        &:hover{
            background-color: $navbar-hover;
        }
    }
}

.user{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.cart{
    width: 100px;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.profile{
    display: flex;
    align-items: center;
}

.profile-name{
    color: white;
    padding: 0 25px;

}

.profile-image{
    width: 60px;
    height: 60px;
    border-radius:50%;
    background-color:grey;
    margin: 0 10px;
}