$background-color: #63778B;
$dark-grey: #7F8C8D;

$navbar-color: #16A085;
$navbar-hover: #1ABC9C;
$product-background: #ECF0F1;
$button: #2980B9;
$button-hover: #3498DB;
$searchBar: #95A5A6;
$button-alt: #ECF0F1;

$text-color: white;
$text-alt: #3D566E;

$text20: 20px;
$text14: 14px;
$text12: 12px;