@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@import 'variables';
@import 'navbar';
@import 'home';
@import 'product';
@import 'products';
@import 'slider';
@import 'cart';


html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;   
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: $background-color;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}